.footer {
  padding: 22px 25px 22px 25px;
  gap: 16px;
  .logo {
    color: white;
    height: 27px;
    width: 139px;
  }
  &--list {
    gap: 7px;
    @media (min-width: 767.98px) {
      flex-direction: row;
      gap: 13px;
    }
  }
  &--link {
    gap: 10px;
  }

  @media (min-width: 767.98px) {
    padding: 57px 25px 30px;
    align-items: center;
    flex-direction: row-reverse;
  }
}
