.main-content {
  height: 1337px;
}

.image-restaurant {
  img {
    object-fit: cover;
    width: 100%;
    height: 275px;
  }
}

.menu {
  gap: 40px;
  padding: 32px 13px 40px 13px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: 1070px;
  &-position {
    top: -30px;
    position: relative;
  }
  &-title {
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
  }
  &__list {
    gap: 40px;
    &-toto {
      gap: 12px;
    }
    &-cards {
      width: 100%;
      gap: 12px;
    }
  }

  &__card-title {
    font-size: 18px;
  }
  &__card-subtitle {
    font-size: 15.04px;
  }
  &__card-price {
    font-size: 15.04px;
  }
}

.card-content {
  align-items: flex-end;
}

.soulignage {
  width: 40px;
  border-top: 3px solid $light-green;
}

.titre {
  gap: 5px;
}
