.image-restaurant {
  object-fit: cover;
  width: 100%;
  height: 275px;
  @media (min-width: 1024px) {
    height: 383px;
  }
}

.menu {
  gap: 40px;
  padding: 32px 13px 40px 13px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  max-width: 1055px;
  width: 100%;
  @media (min-width: 1024px) {
    padding: 32px 210px 40px 210px;
  }
  &-position {
    top: -32px;
    margin-bottom: -32px;
    position: relative;
    @media (min-width: 1024px) {
      top: -51px;
      margin-bottom: -51px;
    }
  }
  &-title {
    justify-content: center;
    gap: 24px;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__list {
    gap: 40px;
    &-section {
      gap: 12px;
    }
    &-cards {
      width: 100%;
      gap: 12px;
    }
  }

  &__card-title {
    font-size: 18px;
  }
  &__card-subtitle {
    font-size: 15.04px;
  }
  &__card-price {
    font-size: 15.04px;
  }
}

.card-content {
  overflow: hidden;
  align-items: flex-end;
  &--text {
    max-width: calc(100% - 25px);
  }
}

.soulignage {
  width: 40px;
  border-top: 3px solid $light-green;
}

.titre {
  gap: 5px;
}
