.image-restaurant {
  object-fit: cover;
  width: 100%;
  height: 17rem;
  @media (min-width: 1024px) {
    height: 24rem;
  }
}

.menu {
  .content {
    gap: 2.5rem;
  }
  padding: 2rem 0.8rem;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  max-width: 1055px;
  width: 100%;
  @media (min-width: 1024px) {
    padding: 2rem 13rem;
  }
  &-position {
    top: -2rem;
    margin-bottom: -2rem;
    position: relative;
    @media (min-width: 1024px) {
      top: -3rem;
      margin-bottom: -3rem;
    }
  }
  &-title {
    justify-content: center;
    gap: 24px;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__list {
    gap: 40px;
    &-section {
      gap: 12px;
      width: 100%;
      &-title{
        font-size: 16px;
      }
    }
    &-cards {
      width: 100%;
      gap: 12px;
    }
  }

  &__card-title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__card-subtitle {
    font-size: 15.04px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__card-price {
    font-size: 15.04px;
  }
}

.card-content {
  overflow: hidden;
  align-items: flex-end;
  &--text {
    max-width: calc(100% - 25px);
  }
}

.soulignage {
  width: 40px;
  border-top: 3px solid $light-green;
}

.titre {
  gap: 5px;
}
