.heart {
  position: relative;
}

.fa-heart {
  text-align: center;
  align-content: center;
  font-size: 22px;
}

.fa-heart-pink {
  transform: scale(0);
  position: absolute;
  background: -webkit-linear-gradient($purple, $pink);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 999;
}
