/* COLORS */
$grey: #f3f3f3;
$grey2: #eaeaea;
$grey3: #f6f6f6;
$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$purple: #9356dc;
$pink: #ff79da;
$dark: #353535;

.background-dark {
  background-color: $dark;
}

.background-grey {
  background-color: $grey;
}

.background-grey2 {
  background-color: $grey2;
}

.background-white {
  background-color: white;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.center {
  align-items: center;
  justify-content: center;
}

.text-white {
  color: white;
}
