/* COLORS */
.background-dark {
  background-color: #353535;
}

.background-grey {
  background-color: #f3f3f3;
}

.background-grey2 {
  background-color: #eaeaea;
}

.background-white {
  background-color: white;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.center {
  align-items: center;
  justify-content: center;
}

.text-white {
  color: white;
}

.change {
  transition: all 300ms ease-out;
}
.change:hover {
  opacity: 85%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.zoom img {
  transition: all 0.5s;
}
.zoom:hover img {
  transform: scale(1.5);
}

.color .fa-heart-pink {
  transition: all 300ms ease-out;
}
.color:hover .fa-heart-pink {
  transform: scale(1);
}

@keyframes spin-and-disapear {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(715deg);
  }
}
@keyframes appear {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
.show-validation .validation,
.show-validation .menu__card-price {
  transition: all 300ms ease-out;
}
.show-validation:hover .card-content--text {
  width: calc(100% - 85px);
}
.show-validation:hover .validation,
.show-validation:hover .menu__card-price {
  transform: translateX(-59px);
}

body,
div,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

div {
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration-line: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.shrikhand {
  font-family: "Shrikhand", italic;
  font-weight: 400;
  font-size: 28px;
}

.logo-header {
  font-weight: 400;
  font-size: 30px;
}

.logo-footer {
  font-weight: 400;
  font-size: 18px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

.bold-text {
  font-weight: 700;
  font-size: 24px;
}

.thin-text {
  font-weight: 300;
  font-size: 18px;
}

.small-thin-text {
  font-weight: 300;
  font-size: 17px;
}

.footer {
  padding: 22px 25px 22px 25px;
  gap: 16px;
  margin-top: auto;
}
.footer .logo {
  color: white;
  height: 27px;
  width: 139px;
}
.footer--list {
  gap: 7px;
}
@media (min-width: 768px) {
  .footer--list {
    flex-direction: row;
    gap: 13px;
  }
}
.footer--link {
  gap: 10px;
}
@media (min-width: 768px) {
  .footer {
    padding: 57px 25px 30px;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.content {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

.header__logo {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
  z-index: 999;
}
.header__logo--menu {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 17px;
  z-index: 999;
  font-size: 30px;
}
.header__logo--menu .logo {
  height: 36px;
  width: 197px;
}
.header__logo--text {
  width: 100%;
}

.header__searchbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  padding: 15px;
  z-index: 998;
}

.button {
  align-content: center;
  background: linear-gradient(#9356dc, #ff79da);
  border: 0;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 3rem;
  width: 11.5rem;
  text-align: center;
}

.button-new {
  z-index: 999;
  align-content: center;
  text-align: center;
  background-color: #99e2d0;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  height: 1.7rem;
  width: 5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.button-new p {
  font-size: 14px;
}

.card {
  border-radius: 15px;
  max-height: 251px;
}

.card-content {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.card-content--text {
  gap: 5px;
}
.card-content--text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.validation {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0px;
  right: -59px;
  height: 100%;
  width: 59px;
  background-color: #99e2d0;
}

.appear--container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appear--content {
  transform: translateY(150%);
  animation: appear 1s 2s forwards;
}

.starter-section {
  transform: translateY(150%);
  animation: appear 1s 0s forwards;
}

.main-section {
  transform: translateY(150%);
  animation: appear 1s 0.5s forwards;
}

.dessert-section {
  transform: translateY(150%);
  animation: appear 1s 1s forwards;
}

.heart {
  position: relative;
}

.fa-heart {
  text-align: center;
  align-content: center;
  font-size: 22px;
}

.fa-heart-pink {
  transform: scale(0);
  position: absolute;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 999;
}

.load {
  height: 0;
  width: 0;
  position: sticky;
  left: 50%;
  top: 50%;
}

.loader {
  width: 40px;
  height: 40px;
  animation: spin-and-disapear 3s forwards;
  border-top: 10px solid rgba(255, 255, 255, 0);
  border-bottom: 10px solid #9356dc;
  border-right: 10px solid #9356dc;
  border-left: 10px solid #9356dc;
  border-radius: 50%;
}

.infos {
  overflow: hidden;
  gap: 1rem;
  padding: 1.9rem;
  text-align: center;
}

.fonctionnement {
  gap: 1rem;
  padding: 4vh 8vw;
}
@media (min-width: 768px) {
  .fonctionnement {
    padding: 4vh 10vw;
  }
}

.steps {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .steps {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.step-card {
  align-items: center;
  background-color: #f6f6f6;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1rem;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  position: relative;
}

.step__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: -1rem;
  background-color: #9356dc;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.restaurants {
  gap: 1rem;
  padding: 4vh 8vw;
}
@media (min-width: 768px) {
  .restaurants {
    padding: 4vh 10vw;
  }
}

.restaurants__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.restaurants__list--card {
  border-radius: 15px;
  width: 100%;
  position: relative;
}
.restaurants__list--card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 174px;
}
@media (min-width: 1024px) {
  .restaurants__list--card {
    width: 100%;
  }
}
.restaurants__list--image {
  height: 75%;
}
.restaurants__list--content {
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.restaurants__list--content--text {
  gap: 5px;
}
@media (min-width: 1024px) {
  .restaurants__list {
    grid-template-columns: 1fr 1fr;
  }
}

.image-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 17rem;
}
@media (min-width: 1024px) {
  .image-restaurant {
    height: 24rem;
  }
}

.menu {
  padding: 2rem 0.8rem;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  max-width: 1055px;
  width: 100%;
}
.menu .content {
  gap: 2.5rem;
}
@media (min-width: 1024px) {
  .menu {
    padding: 2rem 13rem;
  }
}
.menu-position {
  top: -2rem;
  margin-bottom: -2rem;
  position: relative;
}
@media (min-width: 1024px) {
  .menu-position {
    top: -3rem;
    margin-bottom: -3rem;
  }
}
.menu-title {
  justify-content: center;
  gap: 24px;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
}
.menu-title h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list {
  gap: 40px;
}
.menu__list-section {
  gap: 12px;
  width: 100%;
}
.menu__list-cards {
  width: 100%;
  gap: 12px;
}
.menu__card-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card-subtitle {
  font-size: 15.04px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card-price {
  font-size: 15.04px;
}

.card-content {
  overflow: hidden;
  align-items: flex-end;
}
.card-content--text {
  max-width: calc(100% - 25px);
}

.soulignage {
  width: 40px;
  border-top: 3px solid #99e2d0;
}

.titre {
  gap: 5px;
}/*# sourceMappingURL=main.css.map */