* {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 500;
  font-size: 16px;
}

.bold-text {
  font-weight: 700;
  font-size: 24px;
}

.thin-text {
  font-weight: 300;
  font-size: 18px;
}

.small-thin-text {
  font-weight: 300;
  font-size: 17px;
}
