* {
  font-family: "Roboto", sans-serif;
}

/* COLORS */
$grey: #f3f3f3;
$grey2: #eaeaea;
$grey3: #f6f6f6;
$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$purple: #9356dc;
$pink: #ff79da;
$dark: #353535;

body {
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
}

h3 {
  font-weight: 300;
  font-size: 18px;
  margin: 0px;
}

p {
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}

.background-dark {
  background-color: $dark;
}

.background-grey {
  background-color: $grey;
}

.background-grey2 {
  background-color: $grey2;
}

.background-white {
  background-color: white;
}

.button {
  background: linear-gradient($pink, $purple);
  border: 0;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  width: 186px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.text-white {
  color: white;
}

.header__logo {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px;
  z-index: 999;
  .logo {
    height: 36px;
    width: 197px;
  }
}

.header__searchbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  padding: 15px;
  z-index: 998;
}

.infos {
  gap: 20px;
  padding: 30px;
  text-align: center;
}

.fonctionnement {
  gap: 26px;
  padding: 40px 20px 40px 20px;
}

.steps {
  gap: 24px;
}

.button-step {
  align-items: center;
  background-color: $grey3;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 20px;
  justify-content: flex-start;
  padding: 20px 20px 20px 25px;
  position: relative;
}

.step__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18px;
  left: -12px;
  background-color: $purple;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.restaurants {
  gap: 26px;
  padding: 40px 20px 40px 20px;
}

.restaurants__list {
  gap: 18px;
  &--card {
    border-radius: 15px;
    max-height: 251px;
    position: relative;
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
      width: 100%;
      max-height: 174px;
    }
  }
  &--image {
    height: 75%;
  }
  &--content {
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    &--text {
      gap: 5px;
    }
  }
}

.button-new {
  background-color: $light-green;
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: $dark-green;
  height: 29px;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 80px;
}

.footer {
  padding: 22px 25px 22px 25px;
  gap: 16px;
  .logo {
    color: white;
    height: 27px;
    width: 139px;
  }
  &--list {
    gap: 7px;
  }
  &--link {
    gap: 10px;
  }
}
